  <div class="container">
    <h2>Food Consumption Log</h2>
    <br>
  <form>
 <label>Food Log</label>
 <br>
 <table class="table table-striped" id="mytable">
    <caption style="size"><font size="4"><b>Food Log</b></font></caption>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Food Desc</th> 
          <th>Calories</th>
          <th> Quntity </th>
          <th>Date</th>

        </tr>
      </thead>
      <tbody>
         {{#each fc_results}}
        <tr>
        {{id}}
          <input type="hidden" id="id_in" value={{id}} />
          <td>{{ first_name }}</td>
          <td>{{ last_name }}</td>
          <td>{{food_desc}}</td>
          <td>{{calories}}</td>
          <td><input type=number id="qty" placeholder="Enter Quantity" /></td>
          <td><input type="date" id="date_in" value={{moment eaten_at format="YYYY-MM-DD"}} /></td>
          <td><input type="submit" id="submit" value="Save"/></td>
          <td><input type="button" id="back" value="Back"  onclick="window.location.href='/'"/></td>
        </tr>
        {{/each}}
      </tbody>
    </table
  <br>
</form>
 
    <footer class="page-footer font-small blue">
      

    </footer>

<script>
    document.getElementById('submit').addEventListener('click', function(event){
      var req = new XMLHttpRequest();

      var parms = 'id=' + document.getElementById('id_in').value;
      parms += '&qty=' + document.getElementById('qty').value;
      parms += '&date=' + document.getElementById('date_in').value; 

      console.log(parms);
      
      
      req.open("GET", "http://localhost:62619/update_fl?"+parms, true);
      req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        window.location.href='/';
      } else {
        console.log("Error in network request: " + req.statusText);
      }});
    req.send(null);
    event.preventDefault();
      
      });
</script>