<h2>Edit Contents</h2>
<form>
	<table id="table">
		<tr>
		  <th>First/Last Name</th>
          <th>Exercise</th>
          <th>Muscle Group</th>
          <th>Reps</th>
          <th>Exercise Date and Time</th>
		</tr>
		{{#each results}}
			<input type="hidden" id="id_in" value={{workout_id}} />
			<tr>
				<td id="person">{{ first_name }} {{last_name}}</td>
				<td id="workout">{{workout}}</td>
				<td id="muslce_group">{{ muscle_group }}</td>
				<td id="reps"><input type="text" id="reps_in" value={{reps}} /></td>
				<td id="date"><input type="date" id="date_in" value={{moment exercised_at format="YYYY-MM-DD"}} /></td>
				<td><input type="submit" id="save" value="Save Edits"/></td>
				<td><input type="button" id="back" value="Back"  onclick="window.location.href='/'"/></td>
			</tr>
		{{/each}}
	</table>
</form>
<script>
	document.getElementById('save').addEventListener('click', function(event){
      var req = new XMLHttpRequest();

	  var parms = 'reps=' + document.getElementById("reps_in").value; 
		  parms += '&e_at=' + document.getElementById('date_in').value;
		  parms += '&wid=' + document.getElementById('id_in').value;

			
      req.open("GET", "http://localhost:62619/update_wol?"+parms, true);
      req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        window.location.href='/';
      } else {
        console.log("Error in network request: " + req.statusText);
      }});
    req.send(null);
    event.preventDefault();
      
      });
</script>